<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Sporty Shoes</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li><a routerLink="brand">Brands</a></li>
      <li><a routerLink="prod">Products</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
  
